body {
  font-family: 'Mona Sans', helvetica, sans-serif;
}

span {
  color: #689;
}

.centered {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 2em;
}

.centered p {
  text-align: center;
}

.sign {
  font-family: 'Overpass', 'Mona Sans', helvetica, sans-serif;
  position: relative;
}

.sign::before {
  content: '';
  background-color: yellow;
  position: absolute;
  inset: 0;
  rotate: 45deg;
  scale: 2;
}
