body {
  font-family: 'Mona Sans', helvetica, sans-serif;
  background-color: #041112;
}

span {
  color: #689;
}

.centered {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 2em;
}

.centered p {
  text-align: center;
}

.sign {
  font-family: 'Overpass', 'Mona Sans', helvetica, sans-serif;
  font-weight: 700;
  position: relative;
  aspect-ratio: 1;
}

.sign::before {
  content: '';
  display: block;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 0.5em;
  position: absolute;
  inset: 0;
  rotate: 45deg;
  scale: 2;
  z-index: -1;
}
